/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Nunito', sans-serif;
    color: #5A5A5A;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.buttonbtn{
    padding: 0 30px;
    height: 54px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    color: #dc4f72;
    border: 1px solid #dc4f72;
    cursor: pointer;
    font-weight: 700;
    line-height: 52px;
    /* transition: all .3s ease-out; */
}
.buttonbtn:hover{
    color: white;
    background-color: #dc4f72;
}
.bg{
    padding: 48px 0;
}
li{
    list-style: none;
}
.title_width{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}
.text_h6{
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    margin-bottom: 5px;
}
.text_h3{
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    color: #2C3038;
}
.text_p{
    font-size: 16px;
    line-height: 22.5px;
    color: #5A5A5A;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 16px;
}
.buttonbtn2{
    color: #fff;
    background-color: #dc4f72;
    border: 1px solid #dc4f72;
    padding: 0 30px;
    line-height: 52px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-out;
}
.buttonbtn2:hover{
    background-color: #d62f58;
    border-color: #d62f58;
}
/* HEADER */
.header{
    background-color: white;
    height: 90px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 90;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 25px;
}
.header .content{
    display: flex;
    align-items: center;
}
.header .content .navbar ul{
    list-style: none;
    display: flex;
}
.header .content .navbar li{
    padding: 0 16px;
    position: relative;
}
.header .container .navbar_logo{
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #DC4F72;
}
.header .content .navbar .nav_item{
    color: #2C3038;
    padding: 14px 0;
    transition: all .5s linear;
}
.header .content li:hover .nav_item{
    color: #DC4F72;
}
.header .content button{
    margin-left: 31px;
    margin-right: 15px;
}
.header .content .navbar_active .nav_item{
    color: #DC4F72;
}
.header .content .nav_item::before, .dropdown-content .nav_dropdown::before{
    content: "";
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: #DC4F72;
    bottom: -5px;
    transition: all .5s linear;
}
.header .content li:hover .nav_item::before, .dropdown-content .nav_dropdown:hover:before{
    width: 20px;
}
.header .content .navbar .nav_item i{
    font-size: 14px;
    padding-left: 2px;
}
.header .content .navbar__toggler{
    display: none;
}
/* DROPDOWN HEADER */
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    z-index: 1;
    border-radius: 6px;
    padding: 16px 0 4.8px;
    color: #212529;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    transform: translateX(-30px);
}  
.dropdown-content .nav_dropdown{
    font-weight: 400;
    font-size: 16px;
    color: #2C3038;
    position: relative;
    margin: 0 24px 14px !important;
    display: inline-block;
    transition: all .5s linear;
}
.dropdown-content .nav_dropdown:hover{
    color: #DC4F72;
}
.dropdown-content::before{
    content: '';
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

.show {display: block;}

/* Shrink Navigation Menu on Scroll */
.header .active{
    background-color: transparent;
}
.header{
    transition: all .3s linear;
}
/* BREADCRUMBS */
.breadCrumbs{
    margin-top: 90px;
    background-color: #F7F9FC;
    margin-bottom: 16px;
}
.breadCrumbs .page_wrapper{
    padding: 15px 20px;
}
.breadCrumbs .page_wrapper a{
    color: #DC4F72;
    margin-right: 5px;
    font-size: 14px;
    transition: all .5s linear;
}
.breadCrumbs .page_wrapper a:hover{
    text-decoration: underline;
}
.breadCrumbs .page_wrapper span{
    color: #2C3038;
    font-size: 14px;
}
.breadCrumbs .page_wrapper span i{
    font-size: 10px;
}
/* ABOUT US */
.aboutUs .content{
    padding: 16px 25px;
}
.aboutUs .content h2{
    color: #2C3038;
    font-size: 46px;
    line-height: 55px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 48px;
}
.aboutUs .content .row{
    display: flex;
    justify-content: center;
}
.aboutUs .content .row .col{
    width: 50%;
}
.aboutUs .content .row .col1{
    padding-right: 15px;
}
.aboutUs .content .row .col2{
    padding-left: 48px;
}
.aboutUs .content .row .col2 img{
    width: 100%;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}
.aboutUs .content .row .col2 img:hover{
    transform: translateY(-8px);
}
.aboutUs .content .row .col1 h3{
    font-size: 36px;
    line-height: 44px;
    color: #2C3038;
    font-weight: 600;
    margin-bottom: 10px;
}
.aboutUs .content .row .col1 p{
    line-height: 24.5px;
    color: #5A5A5A;
    margin: 15px 0 35px 0;
}
.aboutUs .content .row .col1 li{
    line-height: 26px;
    font-weight: 700;
    margin: 15px 0;
    color: #2C3038;
}
.aboutUs .content .row .col1 li span{
    vertical-align: middle;
}
.aboutUs .content .row .col1 li i{
    color: #dc4f72;
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    background-color: rgba(220, 79, 114, 0.1);
    opacity: 0.8;
    margin-right: 12px;
    font-weight: 800;
}
/* NEWS */
.news .content{
    padding: 16px 25px;
}
.news .content .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.news .content .row h5{
    font-size: 26px;
    line-height: 32px;
    color: #2C3038;
    font-weight: 700;
}
.news .content .row p{
    line-height: 24.5px;
    color: #5A5A5A;
    margin-top: 16px;
}
/* FEATURES */
.features{
    background-color: #F7F9FC;
}
.features .content{
    padding: 16px 25px;
}
.features .title{
    margin-bottom: 48px;
}
.features .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 24px;
}
.features .row .col .item{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.features .row .col .item .bott{
    width: 100%;
    height: 250px;
    padding: 0 30px;
    text-align: center;
    transition: all .3s ease;
}
.features .row .col .item .bott .icon i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 26px;
    background-color: #DC4F72;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 60px;
    margin-bottom: 68px;
    transition: all .3s ease;
}
.features .row .col .item .bott:hover .icon i{
    top: -40px;
}
.features .row .col .item .bott .icon h4{
    position: relative;
    top: 10px;
    color: #2C3038;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
}
.features .row .col .item .bott:hover .icon h4{
    top: -80px;
}
.features .row .col .item .bott .description{
    margin-top: -96px;
    opacity: 0;
    transform: scale(0);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.features .row .col .item .bott:hover .description{
    opacity: 1;
    transform: scale(1);
}
.features .row .col .item .bott .description p{
    color: #2C3038;
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0;
}
.features .row .col .item .bott .description a{
    color: #dc4f72;
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
}
.features .row .col .item .bott .description a:hover{
    text-decoration: underline;
}
/* SOLUTION */
.solution .content{
    padding: 16px 25px;
    text-align: center;
}
.solution .content .row{
    max-width: 700px;
    margin: 48px auto 0;
}
.solution .content .item{
    position: relative !important;
}
.solution .content .item img{
    width: 100%;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: all .3s ease-in-out;
}
.solution .content .item img:hover{
    transform: translateY(-8px);
}
.solution .content .item i{
    color: #dc4f72;
    background-color: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    animation: ripple 1s linear infinite;
}
.solution .content .item a{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.solution .content .item .sl_video{
    max-width: 750px;
    margin: 40px auto;
    position: relative;
    display: none;
}
.solution .content .item .sl_video iframe{
    width: 100%;
    height: 400px;
    border: none;
    display: block;
}
.solution .content button{
    margin-top: 40px;
}
@keyframes ripple {
    0% {
      box-shadow:
      0 0 0 0 rgb(255 255 255 / 15%),
      0 0 0 10px rgb(255 255 255 / 15%),
      0 0 0 20px rgb(255 255 255 / 15%)
    }
    100% {
      box-shadow:
      0 0 0 10px rgb(255 255 255 / 15%),
      0 0 0 20px rgb(255 255 255 / 15%),
      0 0 0 40px rgb(50 100 245 / 0%);
    }
}

/* CUSTOMER */
.customer .content{
    padding: 16px 25px;
}
.customer .content .row img{
    max-width: 100%;
    filter: grayscale(1);
    padding: 24px 32px;
    transition: all .3s ease;
}
.customer .content .row .col{
    overflow: hidden;
}
.customer .content .row .col:hover img{
    filter: grayscale(0);
}
.customer .row .owl-stage{
    transition: all 1s ease !important;
}
/* TEAM */
.team{
    background-color: #F7F9FC;
}
.team .content{
    padding: 16px 25px;
}
.team .content .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 48px;
}
.team .content .row .col .item_img{
    width: 100%;
    height: 250px;
    display: inline-block;
    background-color: #f3f6f9;
    overflow: hidden;
}
.team .content .row .col img{
    width: 100%;
    cursor: pointer;
    display: block;
    border-radius: 6px 6px 0 0;
}
.team .content .row .col .item_infor{
    background-color: #ffffff;
    padding: 16px;
    border-radius: 0 0 6px 6px;
    border: 1px solid #eee;
    border-top: none;
    margin-top: -6px;
}
.team .content .row .col .item_infor h3 a{
    font-size: 22px;
    line-height: 26px;
    color: #2C3038;
    font-weight: 700;
    transition: all .3s ease-in-out;
}
.team .content .row .col .item_infor p{
    line-height: 24px;
    color: #5A5A5A;
    margin: 2px 0 14px;
}
.team .content .row .col .item .social a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}
.team .content .row .col .social .facebook{
    background-color: #3b5998;
}
.team .content .row .col .social .twitter{
    background-color: #1da1f2;
}
.team .content .row .col .social i{
    color: #fff;
    font-size: 12px;
}
.team .content .row .col .item{
    transition: all .3s ease-in-out;
}
.team .content .row .col .item:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.09);
}
.team .content .row .col .item:hover h3 a{
    color: #dc4f72;
}
/* CONTACT */
.contact .content{
    padding: 16px 25px;
    text-align: center;
}
.contact .content .contact_button{
    margin-top: 48px;
}
.contact .content .contact_button .buttonbtn{
    margin-right: 8px;
}
.contact .content .contact_button .buttonbtn2{
    margin-left: 8px;
}
/* FOOTER */
.footer{
    background-color: #F7F9FC;
}
.footer .content{
    padding: 0 25px;
}
.footer .content .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 63px;
}
.footer .content .row .col1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.footer .content .row .col h3{
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer .content .row .item li{
    list-style: none;
    margin: 10px 0;
}
.footer .content .row .item li a{
    color: #656f7b;
    font-size: 15px;
    line-height: 25px;
}
.footer .content .row .item li a:hover{
    opacity: 0.8;
    color: #dc4f72;
}
.footer .content .row .col2 .form{
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}
.footer .content .row .col2 .form h4{
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer .content .row .col2 .form form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.footer .content .row .col2 .form input{
    width: 78%;
    background-color: #F7F9FC;
    border: none;
    padding: 12px 20px;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
.footer .content .row .col2 .form button{
    width: 20%;
    background-color: #dc4f72;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px
}
.footer .content .row .col2 .form input:focus{
    outline: none;
}
.footer .content .row .col2 .form p{
    line-height: 22px;
    color: #5A5A5A;
}
/* COPYRIGHT */
.footer .copyright {
    padding-top: 24px;
    margin-top: 48px;
    border-top: 1px solid #eaeaea;
}
.footer .copyright .row1 {
    display: flex;
    justify-content: space-between;
}
.footer .copyright .row1 .left p{
    color: #5A5A5A;
    line-height: 22px;
}
.footer .copyright .row1 .right a{
    margin-right: 5px;
}
.footer .copyright .row1 .right i {
    color: #2C3038;
    font-size: 15px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    transition: all 0.3s ease;
}
.footer .copyright .row1 .right a:hover i {
    color: #dc4f72;
}
/* BACK TO TOP */
.backToTop {
    position: fixed;
    right: 0;
    bottom: 70px;
    visibility: hidden;
    opacity: 0;
}
.backToTop i {
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #DC4F72;
}
.cd-top--is-visible {
    visibility: visible;
    opacity: 0.6;
}
/* RESPONSIVE */
@media screen and (max-width: 992px){
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .header .content .navbar, .header .content .buttonbtn{
        display: none;
    }
    .header .content .navbar__toggler{
        display: inline-block;
        cursor: pointer;
        border: none;
        color: #fff;
        background-color: #dc4f72;
        font-size: 24px;
        width: 36px;
        height: 36px;
        line-height: 36px;
        border-radius: 4px;
        text-align: center;
    }
    .aboutUs .content .row{
        flex-direction: column;
    }
    .aboutUs .content .row .col{
        width: 100%;
    }
    .aboutUs .content .row .col2{
        padding-left: 0;
        margin-top: 24px;
    }
    .news .content .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .aboutUs{
        padding-bottom: 0!important;
    }
    .features .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .owl-theme .owl-dots .owl-dot{
        display: none;
    }
    .team .content .row{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer .content .row{
        grid-template-columns: 100%;
    }
    .footer .copyright .row1{
        flex-direction: column;
        align-items: center;
    }
    .footer .copyright .row1 .left{
        margin-bottom: 10px;
    }
    /* .customer .content .row .col{
        overflow: hidden;
    } */
}
@media screen and (max-width: 768px){}
@media screen and (max-width: 576px){
    .header .container{
        padding: 0 15px;
    }
    .header .content .navbar__toggler{
        margin-right: 0;
    }
    .aboutUs .content, .news .content, .features .content, .solution .content, .customer .content, .team .content, .contact .content{
        padding: 0 15px;
    }
    .aboutUs .content .row .col1 h3{
        font-size: 30px;
        line-height: 35px;
    }
    .news .content .row{
        grid-template-columns: 100%;
    }
    .features .row{
        grid-template-columns: 100%;
    }
    .text_h3{
        font-size: 32px;
        line-height: 42px;
    }
    .team .content .row{
        grid-template-columns: 100%;
    }
    .footer .content .row .col1{
        grid-template-columns: 100%;
        gap: 20px;
    }
}